<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href = "/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h2>List of all members</h2>
<div th:if="${not #lists.isEmpty(members)}">

    <table class="glyphicon glyphicon-calendar">
        <tr>
            <th>Id</th>
            <th>Login Id</th>
            <th>Name</th>
            <th>Password</th>
        </tr>
        <tr th:each="member :${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.loginId}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.password}"></td>
            <td>
                <a th:href="@{|updateMember/${member.id}|}" class="btn btn-primary">Update member</a>
                <a th:href="@{|deleteMember/${member.id}|}" class="btn btn-primary">Delete member</a>

            </td>
        </tr>
    </table>
</div>
<a href="../">
    <button>Back to home</button>
</a>

</body>
</html>