<!DOCTYPE html>
<html lang="en">
<head>
    <meta xmlns:th="http://www.thymeleaf.org" charset="UTF-8">
    <title>Title</title>
    <link href = "/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Member Management System</h1>
        <hr>
        <h2>Update Member</h2>

        <form action="#" th:action="@{/members/register}" th:object="${member}" method="POST">
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{loginId}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{password}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Update Member</button>

        </form>

        <hr>

        <a th:href="@{../}">Back to home</a>

    </div>

</body>
</html>