<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>Login!</h2>
    </div>
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err: ${#fields.hasGlobalErrors()}" th:text="${err}">all the errors</p>
        </div>
        <div>
            <label for="loginId">Login id</label>
            <input type="text" th:field="*{loginId}" class="form-control"
                th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="text" th:field="*{password}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>

        <hr class="my-4">

        <div class ="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit"> login!</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/}'|"
                        type="button">Cancel and back to home</button>
            </div>
        </div>


    </form>
</div>

</body>
</html>